# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2025 Harald Sitter <sitter@kde.org>

[Unit]
Description=KDE Linux Update Service

[Service]
Type=simple
Environment=GIN_MODE=release
Environment=GODEBUG=http2debug=2
ExecStart=/usr/lib/kde-linux-sysupdated

[Install]
WantedBy=default.target
